<aside class="chitchat-right-sidebar" id="slide-menu">
    <div class="custom-scroll right-sidebar">
        <div class="contact-profile">
            <div class="theme-title">
                <div class="media">
                    <div>
                        <h2>پروفایل</h2>
                        <h4>اطلاعات شخصی</h4>
                    </div>
                    <div class="media-body text-right">
                        <a class="icon-btn btn-outline-light btn-sm close-profile ml-3"
                           href="#"> <i data-feather="x"> </i></a>
                    </div>
                </div>
            </div>
            <div class="details">
                <div class="contact-top"><img class="bg-img" src="/assets/images/avtar/2.jpg" alt="" /></div>
                <div class="name">
                    <h3>سعید مظفری</h3>
                    <h6>افزودن توضیحات</h6>
                </div>
                <ul class="medialogo">
                    <li><a class="icon-btn btn-danger button-effect" href="#"><i class="fa fa-google"></i></a></li>
                    <li><a class="icon-btn btn-primary button-effect" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="icon-btn btn-facebook button-effect" href="#"><i class="fa fa-facebook-f"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="document">
            <div class="filter-block">
                <div class="collapse-block open">
                    <h5 class="block-title">
                        اسناد ارسال شده
                        <label class="badge badge-success sm ml-2">3</label>
                    </h5>
                    <div class="block-content">
                        <ul class="document-list">
                            <li>
                                <i class="ti-folder font-danger"></i>
                                <h5>Simple_practice_project-zip</h5>
                            </li>
                            <li>
                                <i class="ti-write font-success"></i>
                                <h5>Word_Map-jpg</h5>
                            </li>
                            <li>
                                <i class="ti-zip font-primary"></i>
                                <h5>Latest_Design_portfolio.pdf</h5>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="media-gallery portfolio-section grid-portfolio">
            <div class="collapse-block open">
                <h5 class="block-title">
                    رسانه های ارسال شده
                    <label class="badge badge-primary sm ml-2">2</label>
                </h5>
                <div class="block-content">
                    <div class="row share-media zoom-gallery">
                        <div class="col-12">
                            <h6 class="mb-2">1401/01/01</h6>
                        </div>
                        <div class="col-4 isotopeSelector filter">
                            <div class="media-big">
                                <div class="overlay">
                                    <div class="border-portfolio">
                                        <a href="/assets/images/gallery/1.jpg">
                                            <div class="overlay-background"><i class="ti-plus" aria-hidden="true"></i></div><img class="img-fluid bg-img" src="/assets/images/gallery/1.jpg" alt="portfolio-image" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="media-small isotopeSelector filter">
                                <div class="overlay">
                                    <div class="border-portfolio">
                                        <a href="/assets/images/gallery/2.jpg">
                                            <div class="overlay-background"><i class="ti-plus" aria-hidden="true"></i></div><img class="img-fluid bg-img" src="/assets/images/gallery/2.jpg" alt="portfolio-image" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="media-small isotopeSelector filter">
                                <div class="overlay">
                                    <div class="border-portfolio">
                                        <a href="/assets/images/gallery/3.jpg">
                                            <div class="overlay-background"><i class="ti-plus" aria-hidden="true"></i></div><img class="img-fluid bg-img" src="/assets/images/gallery/3.jpg" alt="portfolio-image" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="media-small isotopeSelector filter">
                                <div class="overlay">
                                    <div class="border-portfolio">
                                        <a href="/assets/images/gallery/4.jpg">
                                            <div class="overlay-background"><i class="ti-plus" aria-hidden="true"></i></div><img class="img-fluid bg-img" src="/assets/images/gallery/4.jpg" alt="portfolio-image" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="media-small isotopeSelector filter fashion">
                                <div class="overlay">
                                    <div class="border-portfolio">
                                        <a href="/assets/images/gallery/5.jpg">
                                            <div class="overlay-background"><i class="ti-plus" aria-hidden="true"></i></div><img class="img-fluid bg-img" src="/assets/images/gallery/5.jpg" alt="portfolio-image" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <h6 class="mb-2 mt-2">1401/01/01</h6>
                        </div>
                        <div class="col-4">
                            <div class="media-small isotopeSelector filter">
                                <div class="overlay">
                                    <div class="border-portfolio">
                                        <a href="/assets/images/gallery/2.jpg">
                                            <div class="overlay-background"><i class="ti-plus" aria-hidden="true"></i></div><img class="img-fluid bg-img" src="/assets/images/gallery/2.jpg" alt="portfolio-image" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="media-small isotopeSelector filter">
                                <div class="overlay">
                                    <div class="border-portfolio">
                                        <a href="/assets/images/gallery/3.jpg">
                                            <div class="overlay-background"><i class="ti-plus" aria-hidden="true"></i></div><img class="img-fluid bg-img" src="/assets/images/gallery/3.jpg" alt="portfolio-image" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="media-small isotopeSelector filter">
                                <div class="overlay">
                                    <div class="border-portfolio">
                                        <a href="/assets/images/gallery/4.jpg">
                                            <div class="overlay-background"><i class="ti-plus" aria-hidden="true"></i></div><img class="img-fluid bg-img" src="/assets/images/gallery/4.jpg" alt="portfolio-image" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="status">
            <div class="collapse-block open">
                <h5 class="block-title">
                    گفتگوهای ایجاد شده
                    <label class="badge badge-outline-dark sm ml-2">2</label>
                </h5>
                <div class="block-content">
                    <div class="contact-chat p-0 m-0">
                        <ul class="str-msg">
                            <li>
                                <div class="media">
                                    <div class="profile mr-4">
                                        <img class="bg-img" src="/assets/images/contact/2.jpg" alt="Avatar" />
                                    </div>
                                    <div class="media-body">
                                        <div class="contact-name">
                                            <h5>سعید مظفری</h5>
                                            <h6>01:35 صبح</h6>
                                            <ul class="msg-box">
                                                <li>
                                                    <h5>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</h5>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="media">
                                    <div class="profile mr-4">
                                        <img class="bg-img" src="/assets/images/contact/3.jpg" alt="Avatar" />
                                    </div>
                                    <div class="media-body">
                                        <div class="contact-name">
                                            <h5>سعید مظفری</h5>
                                            <h6>01:35 صبح</h6>
                                            <ul class="msg-box">
                                                <li>
                                                    <h5>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</h5>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="status">
            <div class="collapse-block open">
                <h5 class="block-title">
                    گروههای مشترک
                    <label class="badge badge-outline-dark sm ml-2">3</label>
                </h5>
                <div class="block-content">
                    <ul class="group-main">
                        <li>
                            <div class="group-box">
                                <div class="profile"><img class="bg-img" src="/assets/images/avtar/teq.jpg" alt="Avatar" /></div>
                                <div class="details">
                                    <h5>تکنولوژی</h5>
                                    <h6>حسن ، حسین ، سعید ، زهرا و شما</h6>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="group-box">
                                <div class="profile"><img class="bg-img" src="/assets/images/avtar/family.jpg" alt="Avatar" /></div>
                                <div class="details">
                                    <h5>دورهمی</h5>
                                    <h6>مجید ، علی و شما</h6>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="status other">
            <h5 class="block-title p-b-25">اطلاعات تماس</h5>
            <ul>
                <li>
                    <h5> <a href="#"> <i data-feather="smartphone"></i>+989155555555</a></h5>
                </li>
                <li>
                    <h5><a href="#"> <i data-feather="crosshair"></i>وب سایت</a></h5>
                </li>
                <li>
                    <h5><a href="#"> <i data-feather="map-pin"></i>خراسان رضوی- مشهد.خیابان خیام پباک 100000.</a></h5>
                </li>
            </ul>
        </div>
        <div class="status">
            <ul>
                <li>
                    <input class="js-switch" type="checkbox" />
                    <h5>مسدود </h5>
                </li>
                <li>
                    <input class="js-switch1" type="checkbox" />
                    <h5>بی صدا </h5>
                </li>
                <li>
                    <input class="js-switch2" type="checkbox" checked="" />
                    <h5>دریافت اعلان</h5>
                </li>
            </ul>
        </div>
        <div class="status other">
            <ul>
                <li>
                    <h5> <a href="#"> <i data-feather="share-2"></i>اشتراک مخاطب</a></h5>
                </li>
                <li>
                    <h5><a href="#"> <i data-feather="trash-2"></i>پاک کردن گفتگو</a></h5>
                </li>
                <li>
                    <h5><a href="#"> <i data-feather="external-link"></i>دانلود گفتگو</a></h5>
                </li>
                <li>
                    <h5><a href="#"> <i data-feather="alert-circle"></i>گزارش مخاطب </a></h5>
                </li>
            </ul>
        </div>
    </div>
</aside>
