@model RegisterLoginDto

@{
    ViewData["Title"] = " ثبت نام - چت تایکو ";
    Layout = "_LayoutLogin";

}




<div class="login-page2 animat-rate">
    <div class="login-content-main">

        <div class="login-content">
            <div class="login-content-header">
                <img class="img-fluid" src="/assets/images/logo/logo_big.png" alt="images">

            </div>
            <h3>به گفتگو با تایکو خوش آمدید</h3>
            <h4>برای استفاده موبایل خود را وارد نمائید.</h4>
            <form class="form2" asp-action="RegisterAsyncDisposable">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label class="col-form-label" for="inputEmail3">موبایل</label>
                    <input type="number" asp-for="Mobile" class="form-control" id="inputEmail3" placeholder="موبایل خود را وارد کنید">
                    <span asp-validation-for="Mobile" class="text-danger"></span>

                </div>


                <div class="form-group mb-0">
                    <div class="buttons"><button class="btn button-effect btn-primary" >ارسال</button></div>
                </div>
            </form>
        </div>
    </div>
    <div class="animation-block">
        <div class="bg_circle">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="cross"></div>
        <div class="cross1"></div>
        <div class="cross2"></div>
        <div class="dot"></div>
        <div class="dot1"></div>
        <div class="top-circle"></div>
        <div class="center-circle"></div>
        <div class="bottom-circle1"></div>
        <div class="right-circle"></div>
        <div class="right-circle1"></div>
        <div class="quarterCircle"></div><img class="cloud-logo" src="/assets/images/login_signup/2.png" alt="login logo" /><img class="cloud-logo1" src="/assets/images/login_signup/2.png" alt="login logo" /><img class="cloud-logo2" src="/assets/images/login_signup/2.png" alt="login logo" /><img class="cloud-logo3" src="/assets/images/login_signup/2.png" alt="login logo" /><img class="cloud-logo4" src="/assets/images/login_signup/2.png" alt="login logo" /><img class="cloud-logo5" src="/assets/images/login_signup/2.png" alt="login logo" />
    </div>
</div>